180806-220357-uno/src/main.cpp+
.vs/Projects/v15/ipch/AutoPCH/b4c834916c85e3ce/MAIN.ipch
.vs/slnx.sqlite
.vs/Projects/v15/.suo
.vs/Projects/v15/Browse.VC.db
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
